@font-face{
    font-family: walkway;
    src: url("../fonts/Walkway SemiBold.ttf");
}

*{
    font-family: walkway;
/*    -webkit-font-smoothing: antialiased;*/
    
    font-family: helvetica;
    font-weight: 100;
    
}

body, html{
    height: 100%;
    position: relative;
    min-width: 800px;
    overflow: hidden;
}

header {
    height: 100px;
    background-color: #333;
    color: #999;
    z-index: 1;
    position: relative;
    -webkit-user-select:none;
}

header #head {
    display: block;
    padding: 0px 0px;
    position: relative;
    height: 60%;
    vertical-align: top;
/*
    border-bottom: 1px solid #0af;
    border-bottom: 1px solid #000;
    border-bottom: 1px solid #666;
*/
}

header #head #logo {
    width: 115px;
    background-color: #0AF;
    height: 100%;
    line-height: 70px;
    cursor: pointer;
    
    background-image: url(../images/logo.png);
}

header #head #subject-name {
    font-size: 30px;
    height: 100%;   
    line-height: 50px;
    padding-left: 15px;
}

header #head #user {
    padding: 5px;
    font-size: 15px;
    margin-right: 15px;
    line-height: 15px;
    margin-top: 10px;
    text-align: right;
/*    border: 1px solid #0af;*/
    border-right: 3px solid #0af;
    position: relative;
    overflow: hidden;
    min-width: 120px;
}

header #head #user>span{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: -100%;
    background-color: #555;
    transition: 0.5s;
/*    padding-top: 12px;*/
    text-align: center;
    color: #0af;
 
}

header #head #user:hover span{
    right: 0%;
}

header #head #user>span>span{
    height: 50%;
    display: block;
    line-height: 20px;
}

header #head #user>span>span:first-child{
    cursor: pointer;
}

header #head #user>span>span:first-child:hover{
    background-color: #0af;
    color: black;
}

header #head #user strong{
    font-size: 20px;
    color: #0af;
}

header #head #user div{
    
}


header #universal-progress{
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: #222;
}

header #universal-progress #value{
    width: 0%;
    position: absolute;
    height: 2px;
    transition: 0.5s;
    background-color: #0af;
}

#universal-progress.p-50 #value{width: 50%;}
#universal-progress.p-25 #value{width: 25%;}
#universal-progress.p-100 #value{width: 100%;}

header #menu {
    height: 40%;
    font-size: 15px;
    line-height: 0px;
    margin-left: 115px;
}

header #menu>li{
    padding: 10px 20px;
    cursor: pointer;
    float: left;
    line-height: 20px;
}

header #menu>li.sub{
    padding: 0px 0px;
}


header #menu>li:hover{
    background-color: #0af;
    color: white;
    
}

header #menu>li.sub:hover{
    background-color: #333;
/*    color: #999;*/
}


header #menu>li.sub:hover>ul{
    display: inline-block;
    color: #999;
    overflow: hidden;
}


header #menu>li.sub>div{
    padding: 10px 20px;
    display: inline-block;
}

header #menu>li.sub:hover>div{
    background-color: #0AF;
}

header #menu>li.sub ul{
    display: inline-block;
    display: none;
    padding: 0px;
    background-color: #333;
    min-width: 140px;
    border-top: 3px solid #0af;
    position: absolute;
}

header #menu>li.sub ul>li{
    display: block;
    padding: 0px;
    width: 100%;
    padding: 10px 20px;
}

header #menu>li.sub ul>li:hover{
    background-color: #0af;
    color: white;
}

body>.inner>#body{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
    padding-top: 100px;
    padding-bottom: 27px;
    overflow: hidden;
    display: table;
    display: block;
}

body>.inner>#body>*{
/*    display: table-cell;*/
    float: left;
}

body>.inner>#body>.main{
    width: 80%;
    height: 100%;
    padding: 10px;
	overflow: auto;
}

body>.inner>#body>.main #final-grade{
	background-color: 
}


body>.inner>#body>.side-bar{
    width: 20%;
    background-color: #AAA;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

body>.inner>#body>.side-bar>ul.students>li{
    padding: 2px 10px;
    display: block;
    cursor: pointer;
    font-size: 16px;
}

body>.inner>#body>.side-bar>ul.students>li:hover{
    background-color: #888;
}

body>.inner>#body>.side-bar>ul.students>li.selected{
	background-color: #777;
	color: #111;
}

.notification-fader{
    z-index: 400;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: rgba(255,255,255,0.2);
/*
    opacity: 0;
    visibility: hidden;
*/
}

.window{
    background-color: #222;
    
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.window .inner{
    padding: 10px 10px;
    color: #CCC;
}
/*
.window *{
    font-family: helvetica;
    font-weight: 100;
}
*/

.window .title.error{
    background-color: #f33;
}

.window .title{
    background-color: #0AF;
    color: black;
    padding: 10px 15px;
    font-size: 15px;
    -webkit-user-select: none;
    cursor: default;
    
}

.window .title #close{
    margin-top: 3px;
    color: #333;
    cursor: pointer;
}

.window .title #close:hover{
    margin-top: 3px;
    color: #f33;
}

.window .body{
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 40px;
    padding-bottom: 45px;
/*    overflow: hidden;*/
}


.window .body>.row{
    margin: 0px;
    position: relative;
    height: 100%;
}


.window .body>.row>ul{
    overflow-y: auto;
    overflow-x: hidden;
/*    width: 100%;*/
    height: 100%;
    -webkit-user-select: none;
    padding: 5px;
}


.window .body>.row>ul li{
    display: block;
    
    color: #AAA;
    cursor: pointer;
    border: 2px solid #222;
    padding-left: 5px;
}

.window .body>.row>ul li:nth-child(even){
    background-color: #252525;
}

.window .body>.row>ul.thumbs li{
    width: 97px;
    max-height: 0px;
    padding: 40px 0px;
    line-height: 12px;
    float: left;
    border: 2px solid #333;
    box-sizing: padding-box;
    text-align: center;
    margin: 3px;
    background-color: #333;
    vertical-align: middle;
    display: table-cell;
}

.window .body>.row>ul li:hover{
    border: 2px solid #0af;
}

.window .body>.row>ul li.selected:hover{
    background-color: #2cf;
}


.window .body>.row>ul li:focus, .window .body>.row>ul li.selected{
    background-color: #0af;
    border: 2px solid #0af;
    outline: none;
    color: black;
}

.window .body #description{
    background-color: #555;
    color: #222;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding: 10px 15px;
}

.window .action-menu{
    position: absolute;
    width: 100%;
    height: 45px;
    bottom: 0px;
    background-color: #2D2D2D;
    padding: 5px;
    vertical-align: middle;
}

.window .action-menu .status{
    width: 50px;
    padding-top: 5px;
    padding-bottom: 20px;
    border: 1px solid transparent;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    color: #999;
    background-color:#333;
    font-size: 12px;
}

footer #state{
    padding: 0px 5px;
}

footer #copyright{
    float: right;
    text-align: right;
    padding: 0px 5px;
}
.full-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #222;
    transition: 0.5s;
}

#login-menu.loading{
    background-color: #333;
}

#login-menu.loading #login{
    opacity: 0;
    border: 1px solid red;
    visibility: hidden;
}

#login-logo.loading {
    padding-bottom: 150px;
}

#login-logo {
    transition: 0.5s;
    font-size: 2em;
    color: white;
    width: 230px;
    height: 150px;
    padding-bottom: 320px;
/*    outline: 1px solid red;*/
    text-align: center;
    padding-right: 20px;
    -webkit-user-select: none;
}

#login-logo span{
    font-family: walkway;
    margin-top: 20px;
    position: relative;
    top: 5px;
    left: -20px;
}

.login-form{
    z-index: 1;
    width:300px; 
    height: 165px;
    background-color: #333;
    padding: 10px;
    color: #AAA;
    font-size: 16px;
}

.login-form input{
    background-color: #222;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.login-form a{
    color: #666;
    display: block;
    margin-bottom: 10px;
    text-align: right;
}

.login-form a:hover{
    color: #0af;
}

.login-form #state{
    color: #f77;
    font-size: 13px;
    display: inline-block;
    -webkit-user-select: none;
}

#reports table{
	min-width: 100%;
}

#reports table td,#reports table th{
	word-break: keep-all;
	white-space: nowrap;
}

#reports table td:last-child,#reports table th:last-child{
/*	opacity: 0;*/
	outline: none;
	border: none;
	background-color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

#reports table tr{
	position: relative;
}
#reports table td:first-child, #reports table th:first-child{
	position: fixed;
	background-color: white;
	left: 0px;
	border-right: 1px solid #CCC;
}

#reports table th:first-child{
	border-top: 1px solid #CCC;
	margin-top: -1px;
}

#reports table td:nth-last-child(2), #reports table th:nth-last-child(2){
	background-color: #333;
	color: white;
}

#reports table tbody tr.fail td:nth-last-child(2){
	color: red !important;
}

#reports table tbody tr.fail td:first-child{
	color: red;
}



/*
#reports table tbody tr .fail.level-0{
	color: #FAA;
}
*/

#reports table tbody tr td.fail{
	color: red;
}

#reports table tbody tr{
	background-color: #DDD;
}

#reports table tbody tr:hover{
	background-color: #CCC;
}

#reports table td.level-0,#reports table th.level-0{background-color: rgba(0,0,0,0.7); color: white}
#reports table td.level-1,#reports table th.level-1{background-color: rgba(0,0,0,0.3);}
#reports table td.level-2,#reports table th.level-2{background-color: rgba(0,0,0,0.1);}
#reports table td.level-3,#reports table th.level-3{background-color: rgba(0,0,0,0.0);}
#reports table td.level-4,#reports table th.level-4{background-color: rgba(0,0,0,0.5);}

#about-pane {
	background-color: #333;
	color: #999;
	text-align: center;
}

#about-pane .glyphicon{
	position: absolute;
	right: 15px;
	top: 0px;
	font-size: 15px;
	line-height: 15px;
	cursor: pointer;
	padding: 10px;
	padding-top: 25px;
	z-index: 400;
	transition: 0.5s;
}

#about-pane .glyphicon:hover{
	color: #333;
	background-color: #AAA;	
}

#about-pane #login-logo{
	height: 550px;
}

#about-pane #login-logo #caption{
	font-size: 13px;
	-webkit-font-smoothing:antialiased;
	letter-spacing: 2px;
	padding-left: 10px;
}

#about-pane>.row {
	height: 100%;
}

#about-pane .col-xs-4{
	position: relative;
	height: 100%;
}

#about-pane .col-xs-4>div{
	height: 200px;
	width: 80%;
}


#about-pane .col-xs-4>div:hover .note{
	margin-top: 100px;
	opacity: 1;
}

#about-pane .col-xs-4 .note{
	opacity: 0;
	margin: 0px 20%;
	margin-top: 0px;
	text-align: center;
	transition: 0.5s;
/*	transition-timing-function: ease-in-out;*/
}


#about-pane .col-xs-4 .image{
	width: 80px;
	height: 80px;
	left: 50%;
	position: relative;
	margin-left: -40px;
	border-radius: 100%;
	background-position: center;
	background-size: cover;
	margin-bottom: 20px;
	z-index: 400;
	box-shadow: 0px 0px 0px 0px #333, 0px 0px 0px 0px #0af;
	transition: 0.3s;
}



#about-pane .col-xs-4>div:hover .image{
	box-shadow: 0px 0px 0px 8px #333, 0px 0px 0px 10px #0af;


}


#about-pane .col-xs-4 .position{
	background-color: #222;
	display: inline-block;
	padding: 3px 10px;
}



